@import 'settings';
@import 'vanilla-framework/scss/vanilla';

@include vanilla;

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

$strip-gradient: linear-gradient(195deg, #e9500e 0%, #6e2953 34%, #25001e 100%);

.p-strip--hero {
  background-image: $strip-gradient;
  color: $color-x-light;

  @media (min-width: $breakpoint-medium) {
    background-image: url('https://assets.ubuntu.com/v1/f3a9a816-44848236-e1780a80-ac4d-11e8-96b9-e32c741de1b4.jpg');
    background-position: right;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;

    &::after {
      background-image: $strip-gradient;
      content: '';
      height: 100%;
      min-width: 700px;
      position: absolute;
      right: 30%;
      top: 0;
      transform: skew(+24deg);
      width: 95%;
    }

    &::before {
      background-image: url('https://assets.ubuntu.com/v1/685ac3e2-mir-suru.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      content: '';
      height: 100%;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.p-strip--hero__row {
  position: relative;
  z-index: 2;
}

.p-card--featured {
  @extend %p-card--highlighted;

  @include vf-highlight-bar($color-accent);

  display: flex;
  flex-direction: column;

  &__date {
    color: $color-mid-dark;
    font-size: 0.875rem;
    font-style: italic;
    margin: 0 0 1.5rem 0;
    padding: 0;
  }
}

.p-card--article {
  @extend %p-card--highlighted;

  @include vf-highlight-bar($color-article);

  display: flex;
  flex-direction: column;

  &__date {
    color: $color-mid-dark;
    font-size: 0.875rem;
    font-style: italic;
    margin: 0 0 1.5rem 0;
    padding: 0;
  }
}

.p-icon-link {
  align-items: center;
  display: flex;
}

.p-icon-link__icon {
  margin-right: $sph-inner--small;
  max-width: 3rem;
}

// XXX Negative margin-bottom override
[class^='p-strip'].is-bordered {
  margin-bottom: 0;
}

// XXX Remove margin-bottom from .p-footer links
.p-footer__link {
  margin-bottom: 0;
}

// Navigation
.p-navigation__banner {
  background-color: $color-article;
}

.p-navigation {
  .p-navigation__row {
    padding: 0;

    .p-navigation__banner {
      padding: 0 $sph-inner--large;

      .p-navigation__logo {
        font-weight: 400;
        margin-right: 0;
      }

      .p-navigation__toggle {
        &--open,
        &--close {
          font-weight: 400;
        }
      }
    }

    .p-navigation__link a {
      height: 100%;
      padding-left: $sph-inner--large;
      padding-right: $sph-inner--large;
    }
  }
}
