@import "settings";
@import "vanilla-framework/scss/vanilla";

@include vanilla;

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

$strip-gradient: linear-gradient(195deg, #e9500e 0%, #6e2953 34%, #25001e 100%);
$strip-gradient-new: linear-gradient(195deg, #e9500e 0%, #6e2953 47%, #25001e 100%);

.p-strip--hero {
  background-image: $strip-gradient;
  color: $color-x-light;

  @media (min-width: $breakpoint-large) {
    background-image: url("https://assets.ubuntu.com/v1/e5dfa930-AdobeStock_126396245_x1.jpg");
    background-position: right;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;

    &::after {
      background-image: $strip-gradient;
      content: "";
      height: 100%;
      min-width: 700px;
      position: absolute;
      right: 30%;
      top: 0;
      transform: skew(+24deg);
      width: 95%;
    }

    &::before {
      background-image: url("https://assets.ubuntu.com/v1/685ac3e2-mir-suru.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      content: "";
      height: 100%;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.p-strip--hero__new {
  background-image: $strip-gradient-new;
  color: $color-x-light;

  @media (min-width: $breakpoint-small) {
    background-image: url("https://assets.ubuntu.com/v1/34132d50-ubuntu-frame-hero.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    overflow: hidden;
    position: relative;

    &::after {
      background-image: $strip-gradient;
      content: "";
      height: 100%;
      min-width: 700px;
      position: absolute;
      right: 30%;
      top: 0;
      transform: skew(140deg);
      width: 95%;
    }

    &::before {
      background-image: url("https://assets.ubuntu.com/v1/685ac3e2-mir-suru.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      content: "";
      height: 70%;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.p-strip--hero__row {
  position: relative;
  z-index: 2;
}

.p-card--featured {
  @extend %p-card--highlighted;

  @include vf-highlight-bar($color-aubergine);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__date {
    color: $color-mid-dark;
    font-size: 0.875rem;
    font-style: italic;
    margin: 0 0 1.5rem 0;
    padding: 0;
  }
}

.p-card__footer {
  border-top: 1px dotted #d9d9d9;
  margin: 0 -0.8rem;
  padding: 1rem 1rem 0 1rem;
}

.p-card__link-title {
  display: block;
  margin: 21px 0 24px 0;
  text-align: center;
}

// XXX Remove margin-bottom from .p-footer links
.p-footer__link {
  margin-bottom: 0;
}

.p-tutorials-meter {
  background-image: url(https://assets.ubuntu.com/v1/19c4273e-level+of+difficulty.svg);
  background-position-x: -75px;
  background-position-y: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1.5rem;
  margin-left: 0.125rem;
  text-indent: -9999px;
  width: 74px;

  &.p-tutorials-meter--1 {
    background-position-x: -60px;
  }

  &.p-tutorials-meter--2 {
    background-position-x: -45px;
  }

  &.p-tutorials-meter--3 {
    background-position-x: -30px;
  }

  &.p-tutorials-meter--4 {
    background-position-x: -15px;
  }

  &.p-tutorials-meter--5 {
    background-position-x: 0;
  }
}
