
{% extends 'base_layout.html' %}

{% block title %}Canonical Mir Display Server{% endblock title %}
{% block copydoc %}https://docs.google.com/document/d/1wqmWPx4TJ_oJoFt4gBOg4trYMIAsugMYtHGXzYJx8kc/edit#{% endblock copydoc %}
{% block meta_description %}Mir is the fast, open and secure display server to unlock next-generation user experiences. Mir runs on a range of Linux powered devices including traditional desktops, IoT and embedded products.{% endblock %}

{% block content %}
<section class="p-strip--hero is-deep">
  <div class="row p-strip--hero__row">
    <div class="col-7">
      <h1>The fast, open and secure display server for any device</h1>
      <p>From mobile and desktop shells to IoT devices and robots. Whether you are building the smart screen for your information kiosk, digital signage display, in-car entertainment stack, or home automation interface, Mir on Ubuntu is your fastest and most secure path to deployment.</p>
      <p><a href="https://assets.ubuntu.com/v1/bd787c8a-canonical-mir-datasheet-2018-12-20.pdf" class="p-button--positive"><span>Get the Mir datasheet</span></a></p>
      <div>
        <a class="github-button" data-size="large" href="https://github.com/MirServer/mir" aria-label="Follow @MirServer on GitHub"></a>
        <a class="github-button" data-size="large" href="https://github.com/MirServer/mir" data-icon="octicon-star" data-show-count="true" aria-label="Star MirServer/mir on GitHub"></a>
        <a class="github-button" data-size="large" href="https://github.com/MirServer/mir/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork MirServer/mir on GitHub"></a>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-9 col-medium-4">
      <h2>What is Mir?</h2>
      <p class="p-heading--4">Introducing a secure display server for IoT devices</p>
      <p>Mir is a system-level component that can be used to unlock next-generation user experiences. It runs on a range of Linux powered devices including traditional desktops, IoT and embedded products. Mir is a replacement for the X window server system, commonly used on Linux desktop devices. It allows device makers and desktop users to have a well-defined, efficient, flexible, and secure platform for their graphical environment.</p>
      <p><a href="https://ubuntu.com/engage/build-smart-devices-with-mir-whitepaper" class="p-button--positive"><span>Download the whitepaper</span></a></p>
    </div>
    <div class="col-3 col-medium-2 u-hide--small u-align--center u-vertically-center">
      {{
        image (
        url="https://assets.ubuntu.com/v1/b93c19ab-Canonical-Mir-2022.svg",
        alt="",
        width="255",
        height="150",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>Select the right display server for you</h2>
  </div>
  <div class="row">
    <div class="col-4 p-card">
        <a class="p-card__link-title" href="/doc/">
          {{
            image (
            url="https://assets.ubuntu.com/v1/b93c19ab-Canonical-Mir-2022.svg",
            alt="",
            width="61",
            height="36",
            hi_def=True,
            loading="auto"
            ) | safe
          }}
        </a>
        <hr class="u-sv1">
      <div class="p-card--content">
        <p><a href="https://canonical-mir.readthedocs-hosted.com/">Mir</a> is a library for writing graphical shells for GNU/Linux and similar operating systems. It incorporates much of what traditionally requires multiple components: a window manager, a compositor and a display server.</p>
      </div>
    </div>
    <div class="col-4 p-card">
      <a class="p-card__link-title" href="https://snapcraft.io/ubuntu-frame">
        {{
          image (
          url="https://assets.ubuntu.com/v1/540688d1-Canonical-Ubuntu-Frame-logo-2022.svg",
          alt="Ubuntu Frame trademark",
          width="154",
          height="36",
          hi_def=True,
          loading="auto"
          ) | safe
        }}
      </a>
      <hr class="u-sv1">
      <div class="p-card--content">
        <p><a href="https://snapcraft.io/ubuntu-frame">Ubuntu Frame</a> is a fullscreen shell for edge devices. Whether you are building a kiosk, point of sale, IoT device or any other product that requires a graphical output or display to the user, Ubuntu Frame instantly allows your device to run a fullscreen window. </p>
      </div>
    </div>
    <div class="col-4 p-card">
      <a class="p-card__link-title" href="https://snapcraft.io/egmde"><img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/c01b1a65-egmde.svg" alt="egme wordmark"/></a>
      <hr class="u-sv1">
      <div class="p-card--content">
        <p><a href="https://github.com/Miriway/Miriway">Miriway</a> is a lightweight, basic, usable graphical shell, for desktop environments. This basic shell includes several keyboard shortcuts and optional support for workspaces and shell components.</p>
      </div>
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row u-equal-height">
    <div class="col-8 col-medium-4">
      <h2>Flexibility and Versatility </h2>
      <p class="p-heading--4">Mir was designed for a number of applications</p>
      <p>
        Whether on embedded systems, desktop or portable devices, Mir can be used in several applications. This includes phones, healthcare kiosks, smart mirrors, and more. Mir runs on a number of Linux operating systems and its snaps are available and work on Ubuntu Core, Ubuntu, Fedora, Arch, and more.
      </p>
    </div>
    <div class="col-4 col-medium-2 u-hide--small u-align--center u-vertically-center">
      {{
        image (
        url="https://assets.ubuntu.com/v1/9cf9f323-Mir-flexibility.svg",
        alt="",
        width="210",
        height="150",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--light is-deep">
  <div class="row u-equal-height">
    <div class="col-4 col-medium-2 u-hide--small u-align--center u-vertically-center">
      <img src="https://assets.ubuntu.com/v1/e6c4d858-Mir-easy-setup.svg" alt="" width="400"/>
    </div>
    <div class="col-8 col-medium-4">
      <h2>Easy setup and deployment</h2>
      <p class="p-heading--4">Mir is the fastest path for the deployment of your smart display </p>
      <p>Through features such as Ubuntu Frame, developers instantly have a black screen with a mouse pointer to run any application you want. Mir instantly turns any device into a kiosk or digital signage solution. </p>
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row u-equal-height">
    <div class="col-8 col-medium-4">
      <h2>Secure</h2>
      <p class="p-heading--4">Mir reduces the attack vector of display applications</p>
      <p>
        Mir was designed from the ground-up with security in mind. With Mir, applications only talk to the server, and the server is careful about the information provided to applications.
      </p>
    </div>
    <div class="col-4 col-medium-2 u-align--center u-vertically-center u-hide--small">
      <img src="https://assets.ubuntu.com/v1/aa7d72f2-Mir-secure.svg" alt="" width="400"/>
    </div>
  </div>
</section>

<section class="p-strip--light is-deep">
  <div class="row u-equal-height">
    <div class="col-4 col-medium-2 u-hide--small u-align--center u-vertically-center">
      <img src="https://assets.ubuntu.com/v1/918b7826-Mir-performance.svg" alt="" width="400">
    </div>
    <div class="col-8 col-medium-4">
      <h2>Performance</h2>
      <p class="p-heading--4">Mir uses next-generation features but guarantees backwards-compatibility</p>
      <p>
        Mir is designed to take advantage of modern hardware supporting GL and avoids unnecessary compositing steps. All of the window management logic is in the server process with no separate window manager process, removing communication overhead.
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="u-fixed-width">
    <h2>Mir Compatibility</h2>
    <table aria-label="Mir compatibility table">
      <thead>
        <tr>
          <th>Platform</th>
          <th>Driver Requirements</th>
          <th>Examples</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>gbm-kms</td>
          <td>
            KMS, libgbm and an EGL supporting<br />
            EGL_WL_bind_wayland_display
          </td>
          <td>
            RPi3b (vc4)<br />
            RPi4 (V3D)<br />
            Intel (i915)<br />
            Nvidia (Nouveau)<br />
            AMD (radeon)
          </td>
        </tr>
        <tr>
          <td>eglstream-kms</td>
          <td>Proprietary Nvidia drivers</td>
          <td>Nvidia</td>
        </tr>
        <tr>
          <td>dispmanx</td>
          <td>Proprietary Broadcom DispmanX API</td>
          <td></td>
        </tr>
        <tr>
          <td>android</td>
          <td>3rd party (UBports) works with a libhybris container for Android drivers</td>
          <td></td>
        </tr>
        <tr>
          <td>x11</td>
          <td>A host environment supporting X11</td>
          <td>Ubuntu Desktop</td>
        </tr>
        <tr>
          <td>wayland</td>
          <td>A host environment supporting Wayland wl_shell</td>
          <td>Ubuntu Wayland Desktop</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="u-fixed-width">
    <p class="u-float-right">
      <a href="https://discourse.ubuntu.com/t/mir-graphics-support/13185">More information about Mir graphic support&nbsp;›</a>
    </p>
  </div>
</section>

<section class="p-strip--light is-deep">
  <div class="row u-equal-height">
    <div class="col-6 col-medium-4">
      <h2>Full enterprise support available<br > with no subscription needed</h2>
      <p class="p-heading--4">Optional 24/7 support with 10 year security maintenance</p>
      <p>
        As the publishers of Mir, we deliver the world’s most efficient display server and signage solution for Ubuntu.
      </p>
      <p>
        <a class="p-button--positive" href="https://ubuntu.com/internet-of-things/digital-signage#get-in-touch">
          Contact us
        </a>
      </p>
    </div>
    <div class="col-1 u-hide--small u-hide--medium"></div>
    <div class="col-5 col-medium-2 u-hide--small u-align--center u-vertically-center">
      <img src="https://assets.ubuntu.com/v1/5d6da5c4-logo-canonical-aubergine.svg" alt="" width="400">
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <h2>Get involved</h2>
  </div>
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/b2e68410-github.svg">
          <h3 class="p-heading-icon__title">Code</h3>
        </div>
        <p>Get Mir or contribute to its development.</p>
        <p><a href="https://github.com/MirServer/mir">Mir on GitHub</a></p>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/d6146a84-icon-talk-to-us.svg">
          <h3 class="p-heading-icon__title">Community</h3>
        </div>
        <p>Get connected.</p>
        <p><a href="https://community.ubuntu.com/c/mir">Mir in the Ubuntu Community forum</a></p>
        <p><a href="https://web.libera.chat/?channels=#mir-server">#mir-server on Libera Chat</a></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
