@import 'settings';

@import 'vanilla-framework/scss/vanilla';
@include vanilla;

$strip-gradient: linear-gradient(195deg, #E9500E 0%, #6E2953 34%, #25001E 100%);

.p-strip--hero {
  background-image: $strip-gradient;
  color: $color-x-light;

  @media (min-width: $breakpoint-medium) {
    background-image: url('https://assets.ubuntu.com/v1/881787a3-grafana-background.jpg');
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    position: relative;

    &::after {
      background-image: $strip-gradient;
      content: '';
      height: 100%;
      min-width: 700px;
      position: absolute;
      right: 30%;
      top: 0;
      transform: skew(-24deg);
      width: 95%;
    }

    &::before {
      background-image: url('https://assets.ubuntu.com/v1/685ac3e2-mir-suru.svg');
      content: '';
      background-size: 100% 100%;
      background-repeat: no-repeat;
      left: 0;
      height: 100%;
      mix-blend-mode: multiply;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.p-strip--hero__row {
  position: relative;
  z-index: 2;
}

.p-card--featured {
  @extend %p-card--highlighted;
  @include vf-highlight-bar($color-accent);
  display: flex;
  flex-direction: column;

  &__date {
    color: $color-mid-dark;
    font-size: .875rem;
    font-style: italic;
    margin: 0 0 1.5rem 0;
    padding: 0;
  }
}

.p-card--article {
  @extend %p-card--highlighted;
  @include vf-highlight-bar($color-article);
  display: flex;
  flex-direction: column;

  &__date {
    color: $color-mid-dark;
    font-size: .875rem;
    font-style: italic;
    margin: 0 0 1.5rem 0;
    padding: 0;
  }
}

.p-icon-link {
  align-items: center;
  display: flex;
}

.p-icon-link__icon {
  margin-right: $sph-intra--condensed;
  max-width: 3rem;
}

// XXX Negative margin-bottom override
[class^='p-strip'].is-bordered {
  margin-bottom: 0;
}

// XXX Remove margin-bottom from .p-footer links
.p-footer__link {
  margin-bottom: 0;
}
