@import 'settings';

@import 'vanilla-framework/scss/vanilla';
@include vanilla;

.p-strip--hero {
  background-color: $color-hero;
  color: $color-x-light;

  @media (min-width: $breakpoint-medium) {
    background-image: url('https://assets.ubuntu.com/v1/5ccd1fe7-AdobeStock_126396245.jpeg?w=800');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    overflow: hidden;
    position: relative;

    &::after {
      background: $color-hero;
      content: '';
      height: 160%;
      min-width: 670px;
      position: absolute;
      top: -15%;
      transform: rotate(-20deg);
      width: 60%;
    }
  }

  @media (min-width: $breakpoint-large) {
    &::after {
      min-width: 700px;
      right: 35%;
    }
  }
}

.p-strip--hero__row {
  position: relative;
  z-index: 2;
}

.p-card--featured {
  @extend %p-card--highlighted;
  @include vf-highlight-bar($color-accent);
  display: flex;
  flex-direction: column;

  .p-card--featured__date {
    color: $color-mid-dark;
    font-size: .875rem;
    font-style: italic;
    margin: 0 0 1.5rem 0;
    padding: 0;
  }
}

.p-icon-link {
  align-items: center;
  display: flex;
}

.p-icon-link__icon {
  margin-right: $sph-intra--condensed;
  max-width: 3rem;
}

// XXX Negative margin-bottom override
[class^='p-strip'].is-bordered {
  margin-bottom: 0;
}

// XXX Remove margin-bottom from .p-footer links
.p-footer__link {
  margin-bottom: 0;
}
